@model IEnumerable<AquaFlow.Models.Product>
@using Microsoft.AspNetCore.Identity
@using AquaFlow.Areas.Identity.Data

@inject SignInManager<AquaFlowUser> SignInManager
@{
    ViewData["Title"] = "Products";
}

<div class="p-5 text-center bg-primary">
    <h1 class="text-white">Products</h1>
</div>

<div class="container py-5">
    <div class="row justify-content-start">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-top mb-3 bg-info" style="height: 200px;">
                            <img src=@item.ImagePath alt=@item.Name class="h-100 w-100" />
                        </div>
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-subtitle">RM @item.Price.ToString("0.00")</p>
                        <p class="card-text">@item.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form asp-action="AddToCart" asp-controller="Home" method="post">
                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                </form>
                            }
                            <p class="card-subtitle">@item.StockQuantity Left</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
